@model IEnumerable<Domain.Models.ToDoItem>
@{
    ViewData["Title"] = "ToDoList";
}

<div class="text-center">
    <h1 class="display-4">ToDoList</h1>
</div>
@foreach (var item in Model)
{
    <div><input type="checkbox" checked="@item.IsCompleted"/> @item.Text</div>
}
